body {
	background: #fff;
}
header {
	border-bottom: 1px solid #4a4a4a;
}
.logo::after {
	color: #4a4a4a
}
.center {
	width:98%;
	min-width:1200px;
}
main {
	display: block;
	padding: 20px 0 200px;
}
textarea.input {
	height: 220px;
}
.list-tags .ui-sortable-handle:hover {
	opacity: .8
}

.info-message {
	width: auto;
	padding: 10px 20px;
	background: #fcfcfd;
	border: 1px solid #dddce1;
}


.col-hide .checkbox{
	margin-right: 12px;
	padding-left: 24px;
}


.list-tags,
.add-one-form {
	width: 500px;
	margin: auto;
}
.add-one-form .input{
	display: block;
	width: 100%;
}
.list-tags h3,
.add-one-form h3{
	margin-top: 20px;
}
.add-one-form label,
.list-tags label{
	display: block;
}

.sort-remove__placeholder {
	height: 22px;
	background: #ccc
}

.table100--list__item {
	text-align: center;
	width: 50px;
}
