#main {
	opacity: 0;
	display: block;
}

/* head
-----------------------------------------------------------------------------*/
.programme-head {
	height: 60px;
	border-radius: 4px 4px 0 0;
	background: #4a4a4a;
	position: relative;
	padding: 18px 22px;
	font-size: 16px;
	color: #fff;
	line-height: 22px;
	text-transform: none;
}
.programme-body .ico--visible,
.programme-body--description-hide .ico--hidden,
.programme-body--description-hide .programme-description {
	display: none;
}
.programme-body--description-hide .ico--visible {
	display: block;
}
.programme-head__title {
	float: left;
	max-width: 700px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: none;
}
.programme-head__icons {
	float: right;
}
.programme-head__icons .ico {
	float: left;
	position: static;
}


/* body
-----------------------------------------------------------------------------*/
.programme-body {
	background: #fff;
	padding: 10px 20px 20px;
}

.programme-body__h2 {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #16130d;
	padding: 12px 10px;
	background: #f3f3f3;
	border-radius: 4px 4px 0 0;
	border-bottom: solid 1px #dddce1;
}
.programme-body__item {
	padding: 10px;
}
.programme-body__name {
	font-size: 15px;
	line-height: 20px;
	color: #4a90e2;
	padding: 10px;
}
.programme-body__name-b {
	font-weight: 700;
	padding-right: 4px;
}


.programme-body__box {
	border: 1px solid #dddce1;
	border-radius: 4px;
	position: relative;
	background: #fff;
}

.programme-img {
	position: relative;
	float: left;
	padding: 5px 5px 5px 0;
}
.programme-img img {
	float: left;
	margin-left: 4px;
	display: block;
	width: 100px;
	height: 100px;
}

.programme-body__detal {
	width: 450px;
	float: left;
}

.programme-table {
	width: 100%;
}
.programme-table__th,
.programme-table__td {
	text-align: left;
	line-height: 16px;
	font-size: 12px;
	color: #16130d;
	vertical-align: middle;
	padding: 10px 10px 10px 16px;
	border-top: 1px solid #dddce1;
	width: 60px;
	border-left: 1px solid #dddce1;
}
.programme-table__th {
	width: 120px;
	font-weight: 500;
	padding-right: 0;
}
.programme-table__bt0 {
	border-top: 0;
}
.programme-table__bl0 {
	border-left: 0;
}
.programme-table__bg {
	background: #f9f9f9
}
.programme-table__td--coment {
	width: auto;
	padding: 0;
	vertical-align: top;
}
.programme-table__td--coment-box {
	position: relative;
	height: 105px;
	padding: 0;
	line-height: 15px;
	overflow: hidden;
}
.programme-table__td--coment-inner {
	padding: 10px 10px 8px;
	background: #fff;
	border-radius: 0 4px 4px 0;
}
.programme-body__box--coment:hover .programme-table__td--coment-box {
	overflow: visible;
	z-index: 2;
}
.programme-body__box--coment:hover .programme-table__td--coment-inner {
	box-shadow: 3px 4px 3px #ccc
}
.programme-table__td--coment-b {
	font-weight: 700;
	padding-bottom: 2px;
}
.programme-table__icons {
	position: relative;
	height: 25px;
	margin: 0 5px 5px 2px
}
.programme-table__icons .ico--info{
	left: auto;
	right: 0;
}

.programme-description {
	overflow: hidden;
	clear: both;
	padding: 20px 20px 0;
	border-top: 1px solid #dddce1;
}
.programme-description p {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
}
.programme-description b {
	font-weight: 700;
}
.programme-description h3 {
	font-weight: 700;
	font-size: 15px;
	margin-top: 30px;
	line-height: 20px;
}

.programme-body__box-head {
	width: 232px;
	border-left: 1px solid #dddce1;
	font-size: 11px;
	line-height: 15px;
	color: #4a4a4a;
	float: right;
}
.programme-body__box-name {
	height: 88px;
	padding: 10px;
	overflow: hidden;
}
.programme-body__box-title {
	display: block;
	color: #4a90e2;
	font-size: 14px;
}
.programme-body__box-icons {
	height: 22px;
	top: -5px;
	left: 2px;
	position: relative;
}
.programme-body__box-icons .ico--info {
	left: auto;
	right: 5px;
	top: -3px;
}

/* tabs
-----------------------------------------------------------------------------*/
.tabs__nav {
	height: 60px;
}
.tabs__nav .box{
	overflow: hidden;
	position: relative;
	height: 62px;
}
.tabs__nav li{
	float: left;
}
.tabs__dt {
	float: left;
	padding: 15px 20px;
	cursor: pointer;
	height: 55px;
	font-size: 20px;
	font-size: 13px;
	line-height: 30px;
	position: relative;
	white-space: nowrap;
	background: #f3f3f3;
	color: #16130d;
	top: 5px;
}
li:first-child .tabs__dt {
	border-radius: 4px 0 0 0;
	padding-left: 22px;
}
li:last-child .tabs__dt {
	border-radius: 0 4px 0 0;
	padding-right: 22px;
}
.tabs__nav .placeholder .tabs__dt{
	padding: 14px 25px;
}
.tabs__dt:before {
	position: absolute;
	width: 8px;
	top: -2px;
	right: 0;
	bottom: 0;
	content: '';
	padding: 15px 18px;
	border-radius: 0 8px 0 0;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
}
.tabs__dt--active {
	border: solid 1px #dddce1;
	background: #fcfcfd;
	border-bottom: 0;
	height: 60px;
	top: 1px;
	z-index: 1;
	margin-left: -6px;
	font-size: 15px;
	border-radius: 4px 4px 0 0 !important;
	font-weight: 700;
	max-width: 300px;
}
.tabs__li-first .tabs__dt--active {
	margin-left: 0;
}
.tabs__dt--active:before {
	display: none;
}
.tabs__dd {
	display: none;
}
.tabs__dd--active {
	display: block;
}
.tabs__dt--delete,
.tabs__dd--delete {
	opacity: .3
}

.app-left--print .tabs__nav li {
	float: none;
}
.app-left--print .tabs__dt--active {
	display: block;
	float: none;
	background: #f3f3f3;
	max-width: inherit;
}
.app-left--print__item {
	border-top: 1px solid #dddce1;
	border-radius: 0 0 6px 6px;
}


/* left
-----------------------------------------------------------------------------*/
.l-h {
	border-radius: 0 4px 4px 4px;
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 18px;
	position: static;
	border: solid 1px #dddce1;
	background: #fcfcfd;
}
.exercises-my__item {
//	cursor: grab;
	margin-bottom: 20px;
}

/* right
-----------------------------------------------------------------------------*/

/* print
-----------------------------------------------------------------------------*/
.programme-body--print__group {
	border: solid 1px #dddce1;
	background: #fcfcfd;
	margin-bottom: 30px;
	border-radius: 4px;
}
.programme-body--print__group:last-child{
	margin: 0;
}
.programme-body--print .programme-body__detal {
	width: 598px;
}
.programme-body--print .programme-table__td--coment-box {
	padding: 10px;
	height: auto;
}



/* view
-----------------------------------------------------------------------------*/

/* old
-----------------------------------------------------------------------------
-----------------------------------------------------------------------------*/

.fullscreen header,
.fullscreen footer {
	display: none;
}
.fullscreen main {
	padding-top: 5px;
}
.fullscreen .icon-fullscreen {
	position: fixed;
	top: 4px;
	right: 4px;
	display: block;
	font-size: 20px
}
.icon-fullscreen li{
	opacity: .5;
	margin: 4px;
}
.icon-fullscreen li:hover{
	opacity: 1
}
.transition {
	transition: 1s;
}

header .name-programme {
	position: absolute;
	top: 12px;
	left: 94px;
	font-size: 20px
}


/* popup
-----------------------------------------------------------------------------*/
.popup--filter .popup__box {
	width: 980px;
	overflow: hidden;
}
.popup--filter h3 {
	font-size: 16px;
	text-align: left;
	text-transform: none;
	color: #4a4a4a;
	line-height: 28px;
	padding-bottom: 20px;
}
.popup--filter .popup__box:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 106px;
	content: '';
	height: 1px;
	opacity: .1;
	background: #979797;
}
.popup--filter h3 ~ h3{
	padding-top: 12px;
}
.popup--filter .checkbox {
	display: block;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 4px;
	min-height: 28px;
	padding-top: 7px;
}
.popup--filter .btn {
	margin: 50px 0 0 10px
}
.popup--filter td:nth-child(1) {
	width: 275px;
}
.popup--filter td:nth-child(2),
.popup--filter td:nth-child(3) {
	width: 240px;
}
.fast-result-search {
	position: absolute;
	left: 30px;
	bottom: 40px;
	color: #4a4a4a;
	font-weight: 300;
}
.fast-result-search b {
	color: #4a90e2;
	padding-left: 8px;
}

.popup--save .popup__box {
	width: 200px;
	font-size: 20px;
	text-align: center;
}
.popup--start .popup__box {
	width: 330px;
	font-size: 14px;
	text-align: center;
}


.popup--content .popup__box {
	padding: 20px 12px 20px 20px
}
.popup--content .popup-content__images {
	float: left;
	width: 216px;
	padding: 24px 8px 28px;
	border-radius: 4px;
	background: #f8f8f8;
}
.popup--content .popup-content__images img{
	float: left;
	height: 100px;
}
.popup--content .popup-content__table  {
	float: left;
	position: absolute;
	top: 20px;
	right: 20px;
}
.popup--content .popup-content__table .btn {
	display: block;
	margin-top: 10px;
	height: 44px;
	line-height: 44px;
}
.popup--content .popup-content__table .input{
	width: 120px;
	height: 44px;
	display: block;
	margin: 0 10px 10px;
	font-size: 12px;
	padding: 10px;
	font-weight: 300;
	line-height: 24px;
}
.popup--content .popup-content__table textarea.input{
	width: 224px;
	height: 98px;
	margin: 0;
	padding: 5px 10px;
}
.popup-content__title {
	font-weight: 700;
	font-size: 14px;
	padding-top: 20px;
	line-height: 24px;
}


.popup--content .exercises-list__item-detal-btn {
	right: 0;
	top: 0;
	width: 114px;
}


/* popup create
--------------------------------*/
.popup--create .popup__box {
	width: 590px;
	overflow: visible;
	height: 322px !important;
}
.popup--create .popup__box .btn {
	display: block;
}
.popup--create textarea.input {
	height: 160px;
	padding-top: 16px;
}

/* popup close
--------------------------------*/
.popup--close .popup__box {
	height: 204px;
	overflow: visible;
	text-align: center;
}
.popup--close p{
	font-weight: 700;
	color: #4a4a4a;
	padding: 32px 0 24px;
}
.popup--close .btn{
	margin: 2px;
	font-size: 12px;
	font-weight: 400;
	margin: 0 6px 22px;
	height: 44px;
	line-height: 44px;
	padding: 0 22px;
}

.popup--create .error {
	float: left;
	clear: left;
}


.popup--lock .popup__box {
	bottom: 0;
	animation-delay: 1s !important;
}

.related_progress {
	overflow: hidden;
}
.related_progress .related_progress__current {
	border: 1px dashed #ccc;
}
.related_progress .exercises-list__item {
	margin: 14px 14px 0 0;
	cursor: pointer;
}
.related_progress .exercises-list__item:nth-child(4n) {
	margin-right: 0;
}
.related_progress .exercises-list__item:nth-child(1),
.related_progress .exercises-list__item:nth-child(2),
.related_progress .exercises-list__item:nth-child(3),
.related_progress .exercises-list__item:nth-child(4) {
	margin-top: 0;
}


/* Left
-----------------------------------------------------------------------------*/
.menu_app {
	position: relative;
	margin-left: -17px;
	padding-top: 10px;
	height: 60px;
}
.menu_app li{
	float: left;
	margin-left: 17px;
}
.menu_app a{
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
}
.form-tabs__btn .btn{
	margin-right: 10px;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
}



.app-left {
	width: 460px;
}
.app-left--view {
	width: 100%;
}
.app-left h2{
	color: #4a4a4a;
	font-size: 16px;
	line-height: 24px;
	padding: 12px 0 14px;
}
.search-exercises__input  {
	position: relative;
}
#autocomplete-exercises {
	width: 298px;
}
.search-exercises__clear-input {
	position: absolute;
	top: 3px;
	right: 3px;
	opacity: 0;
}
.exercises-my .exercises-my__plus {
	border: 1px dashed #ccc;
	min-height: 93px;
	border-radius: 3px;
	margin-bottom: 10px;
}




.app-left--view .exercises-my__item {
	cursor: auto;
}
.exercises-my__item img {
	width: 100px;
}
.exercises-my .exercises-list__item {
	position: absolute;
}

.exercises-my__item .exercises-list-btn-block .icon-left-bold,
.exercises-my__item .exercises-list-btn-block .icon-plus,
.exercises-my__item .exercises-list-btn-block .icon-info:not(.exercise),
.exercises-my__item .exercises-list-btn-block .icon-star {
	display: none;
}


.exercises-my__item .exercises-list__name .hide {
	background: rgba(255,255,255,.5);
	display: inline;
	font-weight: 400
}
.exercises-my__item .exercises-list-btn-block .icon-up-bold {
	position: absolute;
	bottom: 28px;
	right: 0;
}



.form-tabs textarea.input{
	width: 280px;
}
.form-tabs iframe{
	margin-top: 10px;
}

.form-tabs--input100p .input {
	width: 410px;
}
.form-tabs--input100p .input.w50 {
	width: 50px;
}
.form-tabs--180 label span {
	width: 180px;
}
.form-tabs--filter h3{
	font-size: 14px;
	line-height: 15px;
	font-weight: 700
}
.form-tabs--filter h3 ~ h3{
	padding-top: 10px;
}
.form-tabs--filter .checkbox{
	font-size: 14px;
	line-height: 15px;
	display: block;
	float: none;
	padding-left: 22px;
}
.form-tabs--file img{
	display: block;
}
/* Right
-----------------------------------------------------------------------------*/
.app-right {
	width: 460px;
}
.search-exercises {
	padding-bottom: 8px;
}
.app-search-block .select {
	margin-top: 8px;
	margin-right: 8px;
}

.exercises-list {
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 486px;
	margin-left: -20px;
}
.exercises-list__item {
	cursor: grab;
	float: left;
	width: 132px;
	height: 132px;
	border-radius: 4px;
	text-align: center;
	margin: 0 0 20px 20px;
	padding: 40px 10px 0;
	background: #f7f7f7
}
.exercises-list__item.exercises-list__item--set:after,
.exercises-list__item.exercises-list__item--set:before {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 140px;
	height: 140px;
	content: '';
	border-radius: 3px;
	border: 1px solid #aaa;
	z-index: -1;
	background: #fff
}
.exercises-list__item.exercises-list__item--set:before {
	top: 5px;
	left: 5px;
}
.exercises-list__item img{
	max-height: 100px;
	margin: auto;
}
.exercises-list__img img{
	display: none;
}
.exercises-list__img img:first-child {
	position: relative;
	display: block;
}

/* app --> style 200
-----------------------------------------------------------------------------*/
.related_progress .exercises-list-btn-block--one a,
.exercises-list .exercises-list-btn-block a {
	font-size: 24px;
	display: none;
	position: absolute;
	opacity: .8
}
.related_progress .exercises-list-btn-block--one a:hover,
.exercises-list-btn-block a:hover{
	opacity: 1;
}
.related_progress .exercises-list-btn-block--one a:active,
.exercises-list-btn-block a:active,
.icon-toggle-favorite.active{
	color: #ff9e20
}
.related_progress .exercises-list-btn-block--one .icon-play,
.exercises-list .exercises-list-btn-block .icon-play {
	left: 10px;
	bottom: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-chart-line,
.exercises-list .exercises-list-btn-block .icon-chart-line {
	left: 50%;
	top: 10px;
	margin-left: -14px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-star,
.exercises-list .exercises-list-btn-block .icon-star {
	right: 10px;
	top: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-share,
.exercises-list .exercises-list-btn-block .icon-share {
	left: 10px;
	top: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-left-bold,
.exercises-list .exercises-list-btn-block .icon-left-bold {
	right: 10px;
	bottom: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-info,
.exercises-list .exercises-list-btn-block .icon-info,
.related_progress .exercises-list-btn-block--one .icon-plus,
.exercises-list .exercises-list-btn-block .icon-plus {
	left: 50%;
	top: 50%;
	margin: -14px 0 0 -14px;
	display: block;
}
.related_progress .exercises-list-btn-block--one,
.exercises-list .exercises-list-btn-block {
	background: rgba(255,255,255,.5);
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.related_progress li:hover .exercises-list-btn-block--one,
.exercises-list li:hover .exercises-list-btn-block {
	z-index: 2;
	opacity: 1;
	transition:.5s;
}
.exercises-list__item.ui-draggable-dragging .exercises-list-btn-block {
	display: none;
}
.tab-exercises-list {
	margin: 4px -20px 0 24px;
}


/* -------------------------  ------------------------- */
.exercises-list__item-desc .hide-not-in-list,
.exercises-list__item-desc.in-exercises-list .hide-in-list {
	display: none;
}

.exercises-list__item-desc .hide-in-list,
.exercises-list__item-desc.in-exercises-list .hide-not-in-list {
	display: block;
}

.popup--content.show .hide-in-detail {
	display: none !important;
}

.popup--content.show .show-in-detail {
	display: block !important;
}

.exercises-my__item .exercises-list__img img.hide-in-list {
	display: none;
}

.select-block > * {
	display: inline-block;
	float: left;
}