* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font: 14px/22px 'Roboto', sans-serif;
	position: relative;
	min-width:1200px;
	min-width:1000px;
	background: #ffaa00;
}
.show {
	transition: opacity 1s;
	opacity: 1 !important;
}
.transition {
	transition: 1s;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none !important
}
:focus,
:active {
	outline:none
}
img {
	border:0;
	max-width: 100%;
	position: relative;
	vertical-align: top;
}
li {
	position: relative;
	list-style:none
}
header, main, nav, section, article, aside, footer {
	display:block;
	position: relative;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction:column;
	padding: 38px 0;
}
.clr:after {
	clear: both;
	content: '';
	display: table;
}

.center {
	position: relative;
	max-width:1200px;
	max-width:980px;
	margin: auto;
}

.input {
	vertical-align: middle;
	padding: 14px;
	display: inline-block;
	border-radius: 4px;
	height: 48px;
	font: 300 12px/16px 'Roboto', sans-serif;
	position: relative;
	-webkit-appearance: none;
	color: #4a4a4a;
	background: #fcfcfd;
	border: solid 1px #dddce1;
}
textarea.input {
	height: 110px;
	resize:none;
	overflow: auto;
	display: block;
	width: 100%;
}
.input--border-white {
	border-color: #fff
}
::-moz-placeholder {
	opacity: .7;
}
:-ms-input-placeholder {
	opacity: .7;
}
::-webkit-input-placeholder {
	opacity: .7;
}
.input:hover::-moz-placeholder {
	opacity: .3;
}
.input:hover:-ms-input-placeholder {
	opacity: .3;
}
.input:hover::-webkit-input-placeholder {
	opacity: .3;
}
.input:focus::-moz-placeholder {
	opacity: 0;
}
.input:focus:-ms-input-placeholder {
	opacity: 0;
}
.input:focus::-webkit-input-placeholder {
	opacity: 0;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.input:hover,
.input:focus {
	background: #fff;
}
.input:focus {
	background: #fff;
	border-color: #dddce1;
}

.input-placeholder {
	display: block;
	position: relative;
}
.input-placeholder .input {
	display: block;
	height: 44px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0;
	z-index: 2;
	background: none;
}
.input-placeholder__label {
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	color: #4a4a4a;
	left: 15px;
	position: absolute;
	top: 12px;
	transition: .1s;
	z-index: 1;
}
.input-placeholder--active .input-placeholder__label,
.input-placeholder .input:focus ~ .input-placeholder__label {
	top: 2px;
	font-size: 10px;
}
.input-placeholder--active .input-placeholder__label {
	opacity: .5
}
.input-placeholder--active .input-placeholder__label sup {
	opacity: 0
}
.input-placeholder .ico {
	left: auto;
	right: 5px;
	top: 9px;
	z-index: 3;
}


.btn {
	display:inline-block;
	cursor: pointer;
	text-align: center;
	padding: 0 28px;
	position: relative;
	font-weight: 500;
	color: #fff;
	line-height: 48px;
	height: 48px;
	border-radius: 4px;
	background: #4a90e2;
}
.block100 {
	width: 100%;
	display:block;
}
.btn:hover {
	opacity: .9
}
.btn--gray {
	color: #4a4a4a;
	background: #dddce1;
}
.btn--white {
	color: #4a4a4a;
	border: solid 1px #dddce1;
	background: #fff;
}

.input-block__first {
	border-radius: 4px 0 0 4px;
	border-right: 0;
}
.input-block__last {
	border-radius: 0 4px 4px 0;
}

select {
	opacity: 0;
	height: 44px;
	display: inline-block;
}
.select select {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.select {
	display: inline-block;
	position: relative;
	width: 140px;
	font: 300 12px/16px 'Roboto', sans-serif;
	color: #4a4a4a;
}
.select .value{
	cursor: pointer;
	display: block;
	padding: 14px;
	border-radius: 4px;
	position: relative;
	background: #fcfcfd;
	border: solid 1px #dddce1;
}
.select--border-white:not(.focus) .value{
	border-color: #fff;
}
.select .value:before{
	position: absolute;
	top: 50%;
	right: 15px;
	content: '';
	margin-top: -1px;
	border-width: 4px 4px 0;
	border-style: solid;
	border-color: #929292 transparent;
}
.select.focus .value{
	background: #fff;
	border-radius: 4px 4px 0 0;
}
.select .value span{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.select .box{
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: -2px;
	display: none;
	background: #fff;
	border: solid 1px #dddce1;
	right:0;
	border-top: 0;
	border-radius:0 0 4px 4px;
	max-height: 246px;
	overflow: auto;
}
.select.focus .value:before{
	border-width: 0 4px 4px;
}
.select .box ul{
	padding: 2px 0 8px;
}
.select .box li{
	padding: 4px 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
.select .box li:focus,
.select .box li:hover{
	opacity: .7
}
.select.focus{
	z-index: 5
}

.pagin {
	padding: 20px 0;
}
.pagin__item {
	float: left;
}
.pagin__active,
.pagin__item a{
	float: left;
	padding: 5px;
	font-size: 16px
}

sup {
	color: #d0021b;
	font-size: 100%;
	position: relative;
	top: -4px;
	padding: 0 2px;
	vertical-align: inherit;
}
.error {
	color: #d0021b;
	display: block;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 5px;
}

/* ico
-----------------------------------------------------------------------------*/
.ico {
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	vertical-align: top;
	display: inline-block;
	background: url(../images/sprite.svg);
}
.ico--exit.ico {
	width: 24px;
	height: 30px;
	padding: 0;
	top: 3px;
	position: relative;
	background-position: -532px -64px
}
.ico--exit.ico:hover {
	background-position: -532px -24px
}
.ico--close,
.ico--close-white {
	left: auto;
	width: 40px;
	height: 40px;
	background-position: -420px -215px
}
.ico--close-white {
	background-position: -389px -215px
}
.ico--help:after {
	content: "?";
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	color: #4a4a4a;
	font-weight: 300
}
.ico--edit {
	width: 40px;
	height: 40px;
	position: relative;
	float: left;
	top: -7px;
	background-position: -126px -188px
}
.ico--plus {
	background-position: -25px -25px
}
.ico--open {
	background-position: -73px -25px
}
.ico--new {
	background-position: -122px -25px
}
.ico--save {
	background-position: -168px -25px
}
.ico--save-plus {
	background-position: -214px -25px
}
.ico--print {
	background-position: -261px -25px
}
.ico--print:hover {
	background-position: -260px -64px
}
.ico--print-white {
	background-position: -261px -148px
}
.ico--print-white:hover {
	background-position: -260px -108px
}
.ico--link {
	background-position: -356px -25px
}
.ico--cart {
	background-position: -450px -25px
}
.ico--note {
	background-position: -402px -25px
}
.ico--plus:hover {
	background-position: -25px -65px
}
.ico--open:hover {
	background-position: -73px -65px
}
.ico--new:hover {
	background-position: -122px -65px
}
.ico--save:hover {
	background-position: -168px -65px
}
.ico--save-plus:hover {
	background-position: -214px -65px
}
.ico--print:hover {
	background-position: -261px -65px
}
.ico--link:hover {
	background-position: -356px -65px
}
.ico--cart:hover {
	background-position: -450px -65px
}
.ico--note:hover {
	background-position: -402px -65px
}

.ico--exit-app {
	background-position: -272px -201px
}
.ico--fullscreen {
	background-position: -218px -456px
}
.ico--fullscreen:hover {
	background-position: -218px -376px
}
.ico--fullscreen-exit {
	background-position: -268px -456px
}
.ico--fullscreen-exit:hover {
	background-position: -268px -376px
}

.ico--play {
	background-position: -22px -225px
}
.ico--play:hover {
	background-position: -22px -315px
}
.ico--info {
	background-position: -75px -224px
}
.ico--info:hover {
	background-position: -75px -314px
}
.ico--visible {
	background-position: -125px -412px
}
.ico--visible:hover {
	background-position: -165px -412px
}
.ico--hidden {
	background-position: -125px -378px
}
.ico--hidden:hover {
	background-position: -165px -378px
}





/* table
-----------------------------------------------------------------------------*/
table {
	border:0;
	border-collapse: collapse;
}
td {
	vertical-align: top;
}
.table-fixed {
	table-layout: fixed;
}
.table100 {
	width: 100%;
}
.table100 th,
.table100 td{
	background: #fff;
	padding: 5px 10px;
	font-size: 11px;
	line-height: 15px;
	border: 1px solid #dddce1;
	color: #16130d;
	font-weight: 500;
}
.table100 tr:nth-child(2n+1) td {
	background: #f9f9f9;
}
.table100 td{
	color: #4a4a4a;
	font-weight: 400;
}
.table100 a{
	color: #fd982c;
	text-decoration: underline;
}
.table100 .bt0{
	border-top: 0;
}
.table100 .bl0{
	border-left: 0;
}
.table100 .br0{
	border-right: 0;
}
.table100 .last-bb0 tr:last-child td{
	border-bottom: 0;
}

.nowrap {
	white-space: nowrap;
}
.align-center {
	text-align: center;
}
.align-middle {
	vertical-align: middle;
}

.checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	color: #5c5c5c;
	font-weight: 300;
	line-height: 28px;
	display: inline-block;
	vertical-align: middle;
}
.checkbox:hover {
	opacity: .9
}
.checkbox input,
.checkbox-star input{
	opacity: 0;
	z-index: -1;
	position: absolute;
}
.checkbox i {
	position: absolute;
	top: 4px;
	left: 0;
	width: 22px;
	height: 22px;
	background: url(../images/sprite.svg) -474px -257px;
}
.checkbox input:checked ~ i {
	background-position: -474px -227px
}

.checkbox-star .icon-star,
.checkbox-star input:checked ~ .icon-star-empty{
	display: none;
}
.checkbox-star input:checked ~ .icon-star {
	display: inline-block;
}

h1, h2, h3, h4, b {
	font-weight: 400
}
h1 {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
}
hr {
	border: 0;
	height: 1px;
	background: #dddce1;
}
.hide {
	display:none
}
.notsel {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear-both {
	clear: both;
}
.w100p {
	width: 100%;
}
.w50p {
	width: 50%;
}
.w50 {
	width: 50px;
}
.w100 {
	width: 100px;
}
.w260 {
	width: 260px;
}

.mb10,
.mb-10 {
	margin-bottom: 10px;
}
.mb-14 {
	margin-bottom: 14px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mt-10 {
	margin-top: 10px;
}
.ml-10 {
	margin-left: 10px;
}
.mr-10 {
	margin-right: 10px;
}


.ui-widget {
	font: 14px 'PT Sans', sans-serif;
}
.ui-tabs .ui-tabs-panel {
	padding: 8px 0 12px;
}
.ui-sortable-handle {
	cursor: grab
}
.ui-sortable-helper,
.ui-draggable-dragging {
	z-index: 1;
	cursor: grabbing !important
}

.ui-autocomplete {
	border: 1px solid #aaa;
	background: #f9f9f9;
	box-shadow: 0 2px 2px #e1e1e1 inset;
	z-index: 9;
    left: 0;
    position: absolute;
    top: 0;
}
.ui-autocomplete .ui-menu-item {
	padding: 3px 7px;
	height: 25px;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ui-autocomplete .ui-state-focus {
	background: #fff;
	cursor: pointer;
	font-weight: 700
}
.ui-helper-hidden-accessible {
	display: none;
}
/* footer
-----------------------------------------------------------------------------*/
#footer {
	background: #4a4a4a;
	font-size: 12px;
	color: #fff;
}
.copyright {
	text-align: center;
	padding: 4px;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	height: 100%;
}
.jspVerticalBar:before{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	content: '';
	width: 8px;
	border-radius: 4px;
	background: #f8f8f8;
}
.jspCap{
	display: none;
}
.jspTrack{
	position: relative;
}
.jspDrag{
	width: 8px;
	background: #dbdbdb;
	position: relative;
	top: 0;
	left: 0;
	border-radius: 4px;
	cursor: pointer;
}