body {
	opacity: 0;
	overflow-y: hidden;
}
main {
	display: block;
	padding-bottom: 0;
}
footer {
	height: 0;
	overflow: hidden;
}

.fullscreen header,
.fullscreen footer {
	display: none;
}
.fullscreen main {
	padding-top: 5px;
}
.fullscreen .icon-fullscreen {
	position: fixed;
	top: 4px;
	right: 4px;
	display: block;
	font-size: 20px
}
.icon-fullscreen li{
	opacity: .5;
	margin: 4px;
}
.icon-fullscreen li:hover{
	opacity: 1
}
.transition {
	transition: 1s;
}

header .name-programme {
	position: absolute;
	top: 12px;
	left: 94px;
	font-size: 20px
}


/* popup
-----------------------------------------------------------------------------*/
.popup--filter .popup__box {
	width: 980px;
	overflow: hidden;
}
.popup--filter h3 {
	font-size: 16px;
	text-align: left;
	text-transform: none;
	color: #4a4a4a;
	line-height: 28px;
	padding-bottom: 20px;
}
.popup--filter .popup__box:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 106px;
	content: '';
	height: 1px;
	opacity: .1;
	background: #979797;
}
.popup--filter h3 ~ h3{
	padding-top: 12px;
}
.popup--filter .checkbox {
	display: block;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 4px;
	min-height: 28px;
	padding-top: 7px;
}
.popup--filter .btn {
	margin: 50px 0 0 10px
}
.popup--filter td:nth-child(1) {
	width: 275px;
}
.popup--filter td:nth-child(2),
.popup--filter td:nth-child(3) {
	width: 240px;
}
.fast-result-search {
	position: absolute;
	left: 30px;
	bottom: 40px;
	color: #4a4a4a;
	font-weight: 300;
}
.fast-result-search b {
	color: #4a90e2;
	padding-left: 8px;
}

.popup--save .popup__box {
	width: 200px;
	font-size: 20px;
	text-align: center;
}
.popup--start .popup__box {
	width: 330px;
	font-size: 14px;
	text-align: center;
}


.popup--content .popup__box {
	padding: 20px 12px 20px 20px
}
.popup--content .popup-content__images {
	float: left;
	width: 216px;
	padding: 24px 8px 28px;
	border-radius: 4px;
	background: #f8f8f8;
}
.popup--content .popup-content__images img{
	float: left;
	height: 100px;
}
.popup--content .popup-content__table  {
	float: left;
	position: absolute;
	top: 20px;
	right: 20px;
}
.popup--content .popup-content__table .btn {
	display: block;
	margin-top: 10px;
	height: 44px;
	line-height: 44px;
}
.popup--content .popup-content__table .input{
	width: 120px;
	height: 44px;
	display: block;
	margin: 0 10px 10px;
	font-size: 12px;
	padding: 10px;
	font-weight: 300;
	line-height: 24px;
}
.popup--content .popup-content__table textarea.input{
	width: 224px;
	height: 98px;
	margin: 0;
	padding: 5px 10px;
}
.popup-content__title {
	font-weight: 700;
	font-size: 14px;
	padding-top: 20px;
	line-height: 24px;
}


.popup--content .exercises-list__item-detal-btn {
	right: 0;
	top: 0;
	width: 114px;
}


/* popup create
--------------------------------*/
.popup--create .popup__box {
	width: 590px;
	overflow: visible;
	height: 322px !important;
}
.popup--create .popup__box .btn {
	display: block;
}
.popup--create textarea.input {
	height: 160px;
	padding-top: 16px;
}

/* popup close
--------------------------------*/
.popup--close .popup__box {
	height: 204px;
	overflow: visible;
	text-align: center;
}
.popup--close p{
	font-weight: 700;
	color: #4a4a4a;
	padding: 32px 0 24px;
}
.popup--close .btn{
	margin: 2px;
	font-size: 12px;
	font-weight: 400;
	margin: 0 6px 22px;
	height: 44px;
	line-height: 44px;
	padding: 0 22px;
}

.popup--create .error {
	float: left;
	clear: left;
}


.popup--lock .popup__box {
	bottom: 0;
	animation-delay: 1s !important;
}

.related_progress {
	overflow: hidden;
}
.related_progress .related_progress__current {
	border: 1px dashed #ccc;
}
.related_progress .exercises-list__item {
	margin: 14px 14px 0 0;
	cursor: pointer;
}
.related_progress .exercises-list__item:nth-child(4n) {
	margin-right: 0;
}
.related_progress .exercises-list__item:nth-child(1),
.related_progress .exercises-list__item:nth-child(2),
.related_progress .exercises-list__item:nth-child(3),
.related_progress .exercises-list__item:nth-child(4) {
	margin-top: 0;
}

/* head
-----------------------------------------------------------------------------*/
.programme-head {
	height: 60px;
	border-radius: 4px 4px 0 0;
	background: #4a4a4a;
	position: relative;
	padding: 18px 22px;
	font-size: 16px;
	color: #fff;
	line-height: 22px;
	text-transform: none;
}
.programme-head .name-programme {
	float: left;
	max-width: 700px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.programme-body {
	background: url(1.png) -350px -261px;
	background: #fff;
//	background: url(2.png) -18px -13px;
	padding: 10px 20px 0;
}

/* Left
-----------------------------------------------------------------------------*/
.menu_app {
	position: relative;
	margin-left: -17px;
	padding-top: 10px;
	height: 60px;
}
.menu_app li{
	float: left;
	margin-left: 17px;
}
.menu_app a{
	width: 30px;
	height: 30px;
	position: relative;
	display: block;
}
.form-tabs__btn .btn{
	margin-right: 10px;
	font-size: 12px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0 30px;
}



.app-left {
	width: 460px;
}
.app-left--view {
	width: 100%;
}
.app-left h2{
	color: #4a4a4a;
	font-size: 16px;
	line-height: 24px;
	padding: 12px 0 14px;
}
.search-exercises__input  {
	position: relative;
}
#autocomplete-exercises {
	width: 298px;
}
.search-exercises__clear-input {
	position: absolute;
	top: 3px;
	right: 3px;
	opacity: 0;
}
.l-h {
	border-radius: 0 4px 4px 4px;
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px 18px;
	position: static;

	border: solid 1px #dddce1;
	background: #fcfcfd;
}
.exercises-my .exercises-my__plus {
	border: 1px dashed #ccc;
	min-height: 93px;
	border-radius: 3px;
	margin-bottom: 10px;
}
.exercises-my__item {
	cursor: grab;
	border: 1px solid #dddce1;
	border-radius: 4px;
	margin-bottom: 20px;
	height: 113px;
	padding: 0 232px 0 210px;
	background: #fff;
}
.exercises-list__desc {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 232px;
	padding: 10px;
	border-left: 1px solid #dddce1;
	font-size: 11px;
	line-height: 15px;
	color: #4a4a4a;
}
.exercises-list__desc-text {
	height: 75px;
	padding-left: 4px;
	overflow: hidden;
}
.exercises-list__desc .exercises-list__name {
	display: block;
	color: #4a90e2;
	font-size: 14px;
}
.exercises-list__desc .exercises-list-btn-block {
	bottom: 0;
	display: block;
	height: 30px;
	left: 6px;
	position: absolute;
	right: 6px;
}
.exercises-list__desc .ico--info {
	left: auto;
	right: 0;
}
.exercises-list__img-second {
	display: none !important;
}

.programme-body--print__detal table,
.exercises-list__item-detal table {
	width: 100%;
}
.programme-body--print__detal th,
.programme-body--print__detal td,
.exercises-list__item-detal th,
.exercises-list__item-detal td {
	text-align: left;
	line-height: 16px;
	font-size: 12px;
	color: #16130d;
	vertical-align: middle;
	padding: 10px 10px 10px 16px;
	border-top: 1px solid #dddce1;
}
.programme-body--print__detal th,
.exercises-list__item-detal th {
	font-weight: 500;
	padding-right: 0;
}
.programme-body--print__detal th:nth-child(1),
.exercises-list__item-detal th:nth-child(1) {
	width: 120px;
}
.programme-body--print__detal td:nth-child(2),
.exercises-list__item-detal td:nth-child(2) {
	width: 60px;
	border-right: 1px solid #dddce1;
}
.programme-body--print__detal [rowspan],
.exercises-list__item-detal [rowspan]{
	padding: 10px 0 0;
	vertical-align: top;
}
.programme-body--print__detal [rowspan] b,
.exercises-list__item-detal [rowspan] b{
	padding-left: 10px;
	font-weight: 700;
}
.exercises-list__item-detal-coment {
	overflow: hidden;
	height: 78px;
	line-height: 15px;
	font-weight: 400;
}
.exercises-list__item-detal-coment__bg {
	padding: 2px 10px 8px;
	background: #fff;
	position: relative;
	z-index: 2;
}
.exercises-my__item:hover .exercises-list__item-detal-coment {
	overflow: visible;
}
.exercises-my__item:hover .exercises-list__item-detal-coment__bg:before {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	content: '';
	border: 1px solid #dddce1;
	border-top: 0;
}
.programme-body--print__detal tr:first-child th,
.programme-body--print__detal tr:first-child td,
.exercises-list__item-detal tr:first-child td,
.exercises-list__item-detal tr:first-child th {
	border-top-color: #fff;
}
.programme-body--print__detal tr:nth-child(2n),
.exercises-list__item-detal tr:nth-child(2n) {
	background: #f9f9f9
}

.programme-body--print {

}
.programme-body__h2 {
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #16130d;
	padding: 12px 10px;
	border-radius: 4px 4px 0 0;
	background: #f3f3f3;
	border: solid 1px #dddce1;
}
.programme-body--print__item {
	border-left: solid 1px #dddce1;
	border-right: solid 1px #dddce1;
	background: #fcfcfd;
	padding: 25px 10px 10px;
}
.programme-body--print__description {
	overflow: hidden;
	clear: both;
	padding: 20px 20px 0;
	border-top: 1px solid #dddce1;
}
.programme-body--print__description p {
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 20px;
}
.programme-body--print__description b {
	font-weight: 700;
}
.programme-body--print__description h3 {
	font-weight: 700;
	font-size: 15px;
	margin-top: 30px;
	line-height: 20px;
}
.programme-body .ico--visible,
.programme-body--description-hide .ico--hidden,
.programme-body--description-hide .programme-body--print__description {
	display: none;
}
.programme-body--description-hide .ico--visible {
	display: block;
}

.programme-body--print__item--last{
	border-radius: 0 0 4px 4px;
	margin-bottom: 30px;
	border-bottom: solid 1px #dddce1;
}
.programme-body--print__name {
	font-size: 15px;
	line-height: 20px;
	color: #4a90e2;
	padding-bottom: 20px;
}
.programme-body--print__name span {
	font-weight: 700;
	padding-right: 4px;
}
.programme-body--print__box {
	border: 1px solid #dddce1;
	border-radius: 4px;
	background: #fff;
	position: relative;
}
.app-left--view .exercises-my__item {
	cursor: auto;
}
.exercises-my__item img {
	width: 100px;
}
.exercises-my .exercises-list__item {
	position: absolute;
}
.programme-body--print__detal {
	width: 590px;
	float: left;
}
.programme-body--print__img,
.exercises-my__item .exercises-list__img {
	border-right: 1px solid #dddce1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 210px;
	padding-top: 6px;
}
.programme-body--print__img {
	position: relative;
	height: 111px;
	width: 318px;
	float: left;
}
.exercises-my__item .exercises-list__img img,
.programme-body--print__img img {
	float: left;
	margin-left: 4px;
	display: block;
	width: 100px;
}
.exercises-my__item .exercises-list-btn-block .icon-left-bold,
.exercises-my__item .exercises-list-btn-block .icon-plus,
.exercises-my__item .exercises-list-btn-block .icon-info:not(.exercise),
.exercises-my__item .exercises-list-btn-block .icon-star {
	display: none;
}


.exercises-my__item .exercises-list__name .hide {
	background: rgba(255,255,255,.5);
	display: inline;
	font-weight: 400
}
.exercises-my__item .exercises-list-btn-block .icon-up-bold {
	position: absolute;
	bottom: 28px;
	right: 0;
}



.form-tabs textarea.input{
	width: 280px;
}
.form-tabs iframe{
	margin-top: 10px;
}

.form-tabs--input100p .input {
	width: 410px;
}
.form-tabs--input100p .input.w50 {
	width: 50px;
}
.form-tabs--180 label span {
	width: 180px;
}
.form-tabs--filter h3{
	font-size: 14px;
	line-height: 15px;
	font-weight: 700
}
.form-tabs--filter h3 ~ h3{
	padding-top: 10px;
}
.form-tabs--filter .checkbox{
	font-size: 14px;
	line-height: 15px;
	display: block;
	float: none;
	padding-left: 22px;
}
.form-tabs--file img{
	display: block;
}
/* Right
-----------------------------------------------------------------------------*/
.app-right {
	width: 460px;
}
.search-exercises {
	padding-bottom: 8px;
}
.app-search-block .select {
	margin-top: 8px;
	margin-right: 8px;
}

.exercises-list {
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 486px;
	margin-left: -20px;
}
.exercises-list__item {
	cursor: grab;
	float: left;
	width: 132px;
	height: 132px;
	border-radius: 4px;
	text-align: center;
	margin: 0 0 20px 20px;
	padding: 40px 10px 0;
	background: #f7f7f7
}
.exercises-list__item.exercises-list__item--set:after,
.exercises-list__item.exercises-list__item--set:before {
	position: absolute;
	top: 2px;
	left: 2px;
	width: 140px;
	height: 140px;
	content: '';
	border-radius: 3px;
	border: 1px solid #aaa;
	z-index: -1;
	background: #fff
}
.exercises-list__item.exercises-list__item--set:before {
	top: 5px;
	left: 5px;
}
.exercises-list__item img{
	max-height: 100px;
	margin: auto;
}
.exercises-list__img img{
	display: none;
}
.exercises-list__img img:first-child {
	position: relative;
	display: block;
}

/* app --> style 200
-----------------------------------------------------------------------------*/
.related_progress .exercises-list-btn-block--one a,
.exercises-list .exercises-list-btn-block a {
	font-size: 24px;
	display: none;
	position: absolute;
	opacity: .8
}
.related_progress .exercises-list-btn-block--one a:hover,
.exercises-list-btn-block a:hover{
	opacity: 1;
}
.related_progress .exercises-list-btn-block--one a:active,
.exercises-list-btn-block a:active,
.icon-toggle-favorite.active{
	color: #ff9e20
}
.related_progress .exercises-list-btn-block--one .icon-play,
.exercises-list .exercises-list-btn-block .icon-play {
	left: 10px;
	bottom: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-chart-line,
.exercises-list .exercises-list-btn-block .icon-chart-line {
	left: 50%;
	top: 10px;
	margin-left: -14px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-star,
.exercises-list .exercises-list-btn-block .icon-star {
	right: 10px;
	top: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-share,
.exercises-list .exercises-list-btn-block .icon-share {
	left: 10px;
	top: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-left-bold,
.exercises-list .exercises-list-btn-block .icon-left-bold {
	right: 10px;
	bottom: 10px;
	display: block;
}
.related_progress .exercises-list-btn-block--one .icon-info,
.exercises-list .exercises-list-btn-block .icon-info,
.related_progress .exercises-list-btn-block--one .icon-plus,
.exercises-list .exercises-list-btn-block .icon-plus {
	left: 50%;
	top: 50%;
	margin: -14px 0 0 -14px;
	display: block;
}
.related_progress .exercises-list-btn-block--one,
.exercises-list .exercises-list-btn-block {
	background: rgba(255,255,255,.5);
	bottom: 0;
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.related_progress li:hover .exercises-list-btn-block--one,
.exercises-list li:hover .exercises-list-btn-block {
	z-index: 2;
	opacity: 1;
	transition:.5s;
}
.exercises-list__item.ui-draggable-dragging .exercises-list-btn-block {
	display: none;
}
.tab-exercises-list {
	margin: 4px -20px 0 24px;
}


/* -------------------------  ------------------------- */
.exercises-list__item-desc .hide-not-in-list,
.exercises-list__item-desc.in-exercises-list .hide-in-list {
	display: none;
}

.exercises-list__item-desc .hide-in-list,
.exercises-list__item-desc.in-exercises-list .hide-not-in-list {
	display: block;
}

.popup--content.show .hide-in-detail {
	display: none !important;
}

.popup--content.show .show-in-detail {
	display: block !important;
}

.exercises-my__item .exercises-list__img img.hide-in-list {
	display: none;
}

.select-block > * {
	display: inline-block;
	float: left;
}