body {
	background: #fff;
	min-width:1200px;
}
header {
	border-bottom: 1px solid #4a4a4a;
}
.logo::after {
	color: #4a4a4a
}
.center {
	width:98%;
	min-width:1200px;
}
main {
	display: block;
	padding: 20px 0 200px;
}
.app,
.programme-head {
	width: 980px;
	margin: auto;
}
.programme-head {
	border-radius: 4px
}
.fullscreen .icon-fullscreen {
	background: #4a4a4a;
	border-radius: 4px;
}

.filter-left {
	float: left;
	width: 50%;
}
.filter-left:nth-child(2),
.filter-left:nth-child(3),
.filter-left:nth-child(4) {
	float: right;
}
.filter-left h3 {
	line-height: 16px;
	padding: 6px 0;
}
.filter-left .checkbox {
	font-size: 13px;
	line-height: 15px;
	min-height: 26px;
	padding-left: 28px;
	padding-top: 8px;
}
.filter-left .checkbox i {
	top: 50%;
	margin-top: -10px;
}

.btn--popup {
	display: block;
	font-size: 12px;
	font-weight: 400;
	height: 44px;
	margin-bottom: 10px;
	line-height: 44px;
}


textarea.input {
	height: 220px;
}
.list-tags .ui-sortable-handle:hover {
	opacity: .8
}

.col-hide .checkbox{
	margin-right: 12px;
	padding-left: 24px;
}


.list-tags,
.add-one-form {
	width: 500px;
	margin: auto;
}
.add-one-form .input{
	display: block;
	width: 100%;
}
.list-tags h3,
.add-one-form h3{
	margin-top: 20px;
}
.add-one-form label,
.list-tags label{
	display: block;
}

.sort-remove__placeholder {
	height: 22px;
	background: #ccc
}

.table100--list__item {
	text-align: center;
	width: 50px;
}

